<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Attendance Tracker Sheet</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
        <script src="{{ url_for('static', filename='javascript/functions.js') }}"></script>
    </head>
    <body>
        <div class="jumbotron text-center">
            <h1 class="display-4">Attendance Tracker Sheet</h1>
        </div>
        <hr>
    
        <form action="/attendance" method="POST" id="attn-form">
            <label for="selected_date">Select Date: </label>
            <input type="date" id="selected_date" name="selected_date" required value="{{ selected_date }}">
            <button type="submit" class="btn btn-outline-success">Show attendance</button>
        </form>

    <div class="container mt-5">
        {% if no_data %}
        <div class="alert alert-warning" role="alert">
            No attendance data available for the selected date.
        </div>
        {% endif %}
        
        <h2>Attendance Data Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Roll No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                {% for roll_no, name, time in attendance_data %}
                <tr>
                    <td>{{ roll_no }}</td>
                    <td>{{ name }}</td>
                    <td>{{ time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" onclick="backhome()">Back</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
